{{ pdb_name }} =
    (DESCRIPTION =
      (ADDRESS = (PROTOCOL = TCP)(HOST = {{ ansible_hostname }})(PORT = {{ portnum }}))
      (CONNECT_DATA =
        (SERVER = DEDICATED)
        (SERVICE_NAME = {{ pdb_name }})
      )
  )
